.gsap__container {
  display: flex;
  align-items: center;
  background-color: rgb(36, 34, 31);
  color: white;
  width: 100vw;
  height: 50vh;
  z-index: 1;

  .gsap__title {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 6vw;
    font-weight: bold;
    padding-left: 15vw;
    overflow: hidden;

    .gsap__box {
      position: absolute;
      bottom: 0;
      display: inline-block;
      background: blue;
      height: 1vw;
      // z-index: -1;
    }
    .gsap__greedings {
      display: inline-block;
      z-index: 3;
    }
  }
}
