* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// .header__logo {
//   margin-left: 2rem;
//   position: absolute;

//   .logo__link {
//     color: #ffffff;
//     text-decoration: none;
//     font-size: 0.4rem;
//     letter-spacing: 0.8rem;
//     line-height: 2;
//   }
// }
// .scroll__wrapper {
//   width: 100%;
//   height: 100vh;
//   // position: absolute;
//   // top: 0;
//   background-color: cadetblue;
// }
// .scroll__container {
//   position: relative;
//   overflow: hidden;
//   background-color: cadetblue;

//   .home__scroll {
//     width: 100%;
//     height: 100vh;
//   }
//   .about__scroll {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100vh;
//   }
//   .projects__scroll {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100vh;
//   }
//   .contact__scroll {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100vh;
//   }
// }
