@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

$color1: #432f8f;
$color2: #db2779;
$color3: #a4db32;
$color4: #5e3ddb;
$color5: #8f134b;

.header__container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  // background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  z-index: 100;
  font-family: "Poppins", sans-serif;

  .header__logo {
    margin-left: 2rem;
    font-size: 0.5rem;
    letter-spacing: 0.8rem;
    line-height: 2;

    // color: $color2;
  }

  .header__menu {
    display: flex;

    .header__link {
      margin-right: 2rem;
    }
  }
}
